html,body{width:100%; height:100%; margin:0}

.tblClass {
    table-layout: fixed;
    margin: auto;
    margin-top: 50px;
    width: 50%;
    height: 60%;
    border-collapse: collapse;
   
  }
